
.w-100-p {
  width: 100%;
}
.h-100-p {
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    color: #5e5351;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: #90d3db;
    font-weight: 600;
  }
}

.menu-list {
  list-style: none;
}

.menu-item a{
  padding: 12px;
}
